/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

/* COLORS */
:root{
    --primary-color: rgb(240, 240, 240);
    --secondary-color: rgb(40, 40, 40);
    --accent-color:rgb(100, 70, 100);

    --primary-typo: 'Open Sans', sans-serif;
    --secondary-typo: 'Open Sans', sans-serif;
}

/* DARK THEME */
@media (prefers-color-scheme: dark){
    :root{
        --primary-color: rgb(40, 40, 40);
        --secondary-color: rgb(240, 240, 240);
    }
}

/* HIGH CONTRAST */
@media (prefers-contrast:high){
    :root{
    --primary-color: black;
    --secondary-color: white;
    }
}

/* SELECTION HIGHLIGHT */
::selection{
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

/* --------------------------------------------------------------------------------------------------- */

/* BODY */
body{
    color: var(--secondary-color);
    background-color: var(--primary-color);

    font-family: var(--primary-typo);
}

/* HEADER */
header{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);

    height: 15%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s;

    z-index: 50;
}

.logo{
    height: 12.5vh;
    width: auto;

    filter: invert(11%) sepia(7%) saturate(16%) hue-rotate(38deg) brightness(100%) contrast(89%);

    transition: 0.5s;
}

.menu{
    display: flex;
    justify-content: right;
}

.menu a{
    padding: 0 5%;

    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 900;

    transition: 0.5s;
}

#check{
    display: none;
}

.show-menu,
.hide-menu{
    display: none;
    
    cursor: pointer;
    
    font-size: 5em;
    color: var(--secondary-color);

    transition: 0.5s;
}

/* HEADER HOVER */
.menu a:hover,
.show-menu:hover,
.hide-menu:hover{
    color: var(--accent-color);
    transform: scale(1.25);
}

.logo:hover{
    filter: invert(32%) sepia(9%) saturate(1561%) hue-rotate(251deg) brightness(92%) contrast(96%);
    transform: scale(1.1);
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 75%;
    
    margin-top: 15vh;
    margin-bottom: 5vh;

    padding: 1% 25%;

    transition: 0.5s;
}

/* FOOTER */
footer{
    background-color: var(--primary-color);

    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 5%;

    font-size: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    z-index: 50;
}

/* RESPONSIVE */
@media only screen 
and (hover: none) 
and (pointer: coarse)
and (max-width:1080px)
and (orientation:portrait){
    /* BODY */
    body{
        font-size: 3em;
    }

    /* HEADER */
    header{
        padding: 0 10%;
    }

    .show-menu{
        display: block;
    }

    .show-menu,
    .hide-menu{
        font-size: 3em;
    }

    .menu{
        background: var(--primary-color);

        flex-direction: column;
        
        position: fixed;
        right: 0;
        left:0;
        top: -100vh;

        width: 100%;
        height: 100vh;
        
        text-align: center;
        
        padding-top: 10vh;
        
        z-index: 100;

        transition: 0.5s;
    }

    .menu a{
        display: block;
        
        margin: 10% auto;

        font-size: 2em;
    }

    #check:checked ~ .menu{
        top: 0;
    }
    
    #check:checked ~ .hide-menu{
        display: block;

        font-size: 3em;

        z-index: 150;
    }

    /* MAIN */
    main{
        padding: 5% 5%;
    }

    /* FOOTER */
    footer{
        font-size: 0.75em;

        padding: 0 5%;
    }
}
