/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

/* RESET */
*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

body{
    background-color: rgb(240, 240, 240);

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    font-size: 1rem;
    line-height: 1rem;
}

/* HEADER */
header{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

    height: 15vh;

    padding: 0 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s;

    z-index: 50;
}

.logo{
    height: 7.5vh;
    width: auto;

    filter: invert(11%) sepia(7%) saturate(16%) hue-rotate(38deg) brightness(100%) contrast(89%);

    transition: 0.5s;
}

.menu{
    display: flex;
}
.menu a{
    padding: 0 5%;

    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 900;

    transition: 0.5s;
}

#check{
    display: none;
}

.show-menu,
.hide-menu{
    display: none;
    
    cursor: pointer;
    
    font-size: 5rem;
    color: rgb(40, 40, 40);

    transition: 0.5s;
}

/* HEADER HOVER */
.menu a:hover,
.show-menu:hover,
.hide-menu:hover{
    color: rgb(100, 70, 100);
    transform: scale(1.25);
}

.logo:hover{
    filter: invert(32%) sepia(9%) saturate(1561%) hue-rotate(251deg) brightness(92%) contrast(96%);
    transform: scale(1.1);
}

/* MAIN */
main{
    min-height: 75vh;
    display: flex;
    flex-direction: column;

    background-color: rgb(240, 240, 240);
    
    margin-top: 25% 0;
    padding: 5% 25%;

    transition: 0.5s;
}

/* FOOTER */
footer{
    background-color: rgb(240, 240, 240);
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);

    height: 10vh;
    line-height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    z-index: 50;

    opacity: 0.5;
}

/* RESPONSIVE */
@media only screen and (hover: none) and (pointer: coarse){

    body{
        font-size: 3rem;
        line-height: 4.5rem;
    }
    /* HEADER */
    header{
        padding: 0 10%;
    }
    .logo{
        height: 12.5vh;
        width: auto;
    }
    .show-menu{
        display: block;

        font-size: 7.5rem;
    }

    .menu{
        background: rgb(240, 240, 240);

        flex-direction: column;
        
        position: fixed;
        right: 0;
        left:0;
        top: -100vh;

        width: 100%;
        height: 100vh;
        
        text-align: center;
        
        padding-top: 10vh;
        
        z-index: 100;

        transition: 0.5s;
    }

    .menu a{
        display: block;
        
        margin: 5vh auto;

        font-size: 7rem;
    }

    #check:checked ~ .menu{
        top: 0;
    }
    
    #check:checked ~ .hide-menu{
        display: block;

        font-size: 7.5rem;

        z-index: 150;
    }

    /* MAIN */
    main{
        height: 85vh;

        padding: 5% 5%;
    }

    /* FOOTER */
    footer{
        height: 5vh;

        padding: 0 5%;
    }
}
