/* CARROUSEL*/
.carrousel{
    margin: 0 auto;
    width: 100%;
    max-width: 24rem;

    overflow: hidden;
}

.carrousel .img-container{
    max-height: 20rem;
    width: auto;

    display: flex;
    flex-flow: row nowrap;
    
    transition: 0.5s;
}

.carrousel .img{
    max-height: 20rem;
    width: auto;
}

.carrousel .dots{
    margin: 0 auto;
    padding:  0.5rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .dot{
    width: 1rem;
    height: 1rem;

    margin: 0.5rem;
    padding: 0;

    list-style: none;
    border: 0.1rem solid rgb(var(--secondary-color));
    border-radius: 50%;
    cursor: pointer;
}

.carrousel .dot.active{
    background-color: rgb(var(--secondary-color));
}
