/* COLORS */
:root{
    --primary-color: rgb(240, 240, 240);
    --secondary-color: rgb(40, 40, 40);
    --accent-color:rgb(100, 70, 100);

    --primary-typo: 'Open Sans', sans-serif;
    --secondary-typo: 'Open Sans', sans-serif;
}

/* ---------------------------------------------------------------------------------- */
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.5%;

    transition: 0.5s;
}

.card img{
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.75);

    transition: 0.5s;
}

.card a{
    text-align: center;
}

.project-name{
    margin: 5% auto;
}

.watch{
    color: var(--primary-color);

    position: relative;
    transform: translateY(-375%);
    text-align: center;

    font-weight: bold;

    pointer-events: none;

    opacity: 0;

    transition: 0.5s;
    }

.card:hover .watch{
    opacity: 1;
}
.card img:hover{
    filter: brightness(50%);
}

@media only screen 
and (hover: none) 
and (pointer: coarse)
and (max-width:1080px)
and (orientation:portrait){
    .card{
        flex-basis: 100%;
    }
}