/* GENERAL */
*{
    margin: 0;
    padding: 0;
    
    border: 0;

    box-sizing: border-box;

    vertical-align: baseline;
}

/* MEDIA */
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

/* LINKS */
a{
    display: block;
}

p a{
    display: inline;
}

/* LISTS */
li{
    list-style-type: none;
}

/* SMOOTH ANCHOR */
html{
    scroll-behavior: smooth;
}

/* text style */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em{
    font-size: 1em;

    text-decoration: none;

    color: rgb(var(--secondary-color));
}

hr {
    margin: 1em;

    border: 1px solid rgb(var(--secondary-color));
}

/* BLOCKQUOTES */
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

/* TYPO */
form, input, textarea, select, button, label{
    font-family: inherit;
    font-size: inherit;

    hyphens: auto;

    background-color: transparent;
    color: inherit;

    display: block;
}

/* TABLES */
table, tr, td{
    border-collapse: collapse;
    border-spacing: 0;
}

/* SVG */
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

/* BODY */
body{
    min-height: 100vh;

    font-size: 100%;
    line-height: 1.5em;

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
