.social{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    white-space: nowrap; 

    width: 100%;
}

.social ul li{
    list-style: none;

    display: inline-block;

    margin: 0.25rem;
}

.social ul li a{
    position: relative;  

    display: block;

    text-align: center;
    
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5em;
        
    overflow: hidden;  
    
    border-radius: 50%;
    border: 3px solid rgb(var(--secondary-color));

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.social ul li a .icon{
    z-index: 3;
}

.social ul li a:hover .icon{
    color: rgb(var(--white-color));
    
    transform: rotateY(360deg);

    transition: 0.5s;
}

.social ul li a:before{
    content: "";
  
    position: absolute;
    top: 100%;
    left: 0;
  
    width: 100%;
    height: 100%;

    transition: 0.5s;
 
    z-index: 2;
}

.social ul li a:hover:before{
   top: 0;
}

.social ul li:nth-child(1) a:before{ /* Linkedin */
    background: #3b5999;
}

.social ul li:nth-child(2) a:before{ /* Github */
    background: #171515;
}

.social ul li:nth-child(3) a:before{ /* Instagram */
   background: #E1306C;
}

.social ul li:nth-child(4) a:before{ /* Gmail */
    background: #DB4437;
}
